body {
  color: black;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 25px;
}

table,
th,
td {
  border: 1px solid black;
  text-align: center;
}

.tg {
  border-collapse: collapse;
  border-spacing: 0;
  width: 80%;
  margin: 100px auto auto auto;
}

.tg td {
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}

.tg th {
  font-weight: bold;
}

td.td-button {
  border: none;
}

.tg .tg-0lax {
  text-align: center;
  vertical-align: top;
  padding: 20px 0;
}

.tr-line {
  animation: fadeIn 1s forwards;
}


input,
select {
  padding: 10px;
  outline: none;
  border-radius: 10px;
  border: none;
}

.column {
  display: flex;
  flex-direction: column;
}

.add-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
  background-color: rgb(41, 93, 171);
  width: 50%;
  margin: auto;
  border-radius: 20px;
  padding: 50px;

  h1 {
    text-align: center;
  }

  .column {
    width: 75%;
    margin: auto;
    gap: 10px;
    align-items: flex-start;

    label {
      font-weight: bold;
      font-size: 20px;
    }

    input,
    select {
      appearance: none;
      width: 100%;
      border-radius: 5px;
      border: none;
      padding: 15px 10px;
      caret-color: rgb(41, 93, 171);

      &::placeholder {
        color: rgb(93, 98, 105);
      }
    }

  }

  input[type="submit"] {
    width: fit-content;
    margin: auto;
    cursor: pointer;
    transition: .3s ease-in-out all;

    &:hover {
      opacity: 75%;
    }
  }

}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}